<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>

  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .item {
      display: flex;
      gap: 10px;
    }

    .item a {
      text-decoration: none;
      color: #333;
    }

    .item a:visited {
      color: #999;
    }

    .item-body {
      flex: 1;
    }

    .image {
      flex: 0 0 48px;
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 3px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image img {
      width: auto;
      height: 48px;
    }

    .info {
      font-size: 0.8em;
      color: #999;

      display: flex;
    }

    .comments {
      margin-left: 5px;
    }

    .comments a {
      color: #999;
    }
  </style>
</head>

<body>
  {{> content}}
</body>


</html>